body {
  background-color: #ACD0B5;
  color: #343434;
  padding: 0 20px;
  width: 100%;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td, th {
  border: 1px solid #454545;
  padding: 10px;
  vertical-align: top;
}

th {
  background-color: #FCF2E5;
  color: #800000;
}

img {
  width: 100px;
}

label {
  cursor: pointer;
  margin: 0 12px;
}

input[type="button"] {
  font-size: 20px;
}

input[type="text"] {
  text-align: right;
}

.inventory {
  margin: 0 auto;
  width: 500px;
}

.title {
  font-weight: 700;
}

.row0 {
  background-color: #FCF2E5;
}

.row1 {
  background-color: #D9EAE0;
}

.hide {
  display: none;
}

.show {
  display: inline;
}
